@model IEnumerable<Sinif>
      <div class="card card-info"> <div class="card card-info">

<h3>Sinif Listesi</h3>
  <div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Id)</td>
            <td>@Html.DisplayNameFor(model => model.SinifAdi)</td>
            <td>@Html.DisplayNameFor(model => model.Kapasite)</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.SinifAdi</td>
                <td>@item.Kapasite</td>
            </tr>
        }

    </tbody>
</table></div></div>
