@*@model Okul.Domain.Ogretmen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ogretmen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
    @*    <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyadi" class="control-label"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TcNo" class="control-label"></label>
                <input asp-for="TcNo" class="form-control" />
                <span asp-validation-for="TcNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gsm" class="control-label"></label>
                <input asp-for="Gsm" class="form-control" />
                <span asp-validation-for="Gsm" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cinsiyet" /> @Html.DisplayNameFor(model => model.Cinsiyet)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maas" class="control-label"></label>
                <input asp-for="Maas" class="form-control" />
                <span asp-validation-for="Maas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BransId" class="control-label"></label>
                <select asp-for="BransId" class ="form-control" asp-items="ViewBag.BransId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@
@model OgretmenCreateDto


    <form method="post" asp-action="Create" asp-controller="Ogretmen">



        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Ögretmen Kayit</h3>
            </div>

            @Html.ValidationSummary()
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Adi" asp-for="@Model.OgretmenDto.Adi">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                                   <span class="input-group-text"><i class="fas fa-user-tie"></i></span>

                </div>
                <input type="text" class="form-control" placeholder="Soyadi" asp-for="@Model.OgretmenDto.Soyadi">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    
                </div>
                <input type="text" class="form-control" placeholder="TcKimlik" asp-for="@Model.OgretmenDto.TcNo">
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="Email" asp-for="@Model.OgretmenDto.Email">
            </div>


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" asp-for="@Model.OgretmenDto.DogumTarihi">
            </div>


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input type="text" class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="" inputmode="tel" asp-for="@Model.OgretmenDto.Gsm" placeholder="telegon numarasi">
            </div>
            <select id="ddlSinif" name="Id" asp-items="Model.Brans">
                <option value="0">Brans Seciniz</option>
            </select>

            <div class="bootstrap-switch-container" style="width: 126px; margin-left: 42px;">
                <span class="bootstrap-switch-handle-on bootstrap-switch-success" style="width: 42px;">Bayan</span><span class="bootstrap-switch-label" style="width: 42px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 42px;">Erkek</span><input type="checkbox" name="my-checkbox" checked="" data-bootstrap-switch="" data-off-color="danger" data-on-color="success">
            </div>

            <button type="submit" class="btn btn-info">Kaydet</button>
            <!-- /input-group -->
        </div>
            <!-- /.card-body -->
        </div>

    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
